* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #000000;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
  color: rgb(68, 43, 41);
}

.about, .projects {
  margin-bottom: 2rem;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
